<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <head>
        <h2>Online Code Evaluation System</h2>
    </head>
<body>
    <textarea  form="code_editor" name="code_src" rows="20" cols="60"
    >public class test{








}</textarea>

    <form  id="code_editor" action="/execute-code" method="POST">
        <br>
        <input type="submit" value="Run">
        <br><br>
    </form>

    <div id="output">
        <textarea name="output" rows="10" cols="60">
            <%if(output){%>
<%= output%>
            <%}%>
        </textarea>
    </div>

</body>
</html>